Source: contractor
Section: utils
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <sergey@elementaryos.org>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 9),
               libgee-0.8-dev,
               libglib2.0-dev,
               valac (>= 0.16)
Standards-Version: 3.9.5
Homepage: https://launchpad.net/contractor

Package: contractor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: service for sharing data between apps
 A sharing service that allows source apps to send their data to
 registered destination apps. This way, data source apps don't have to
 have the destination apps hard-coded into them.

Package: contractor-dbg
Architecture: any
Section: debug
Priority: extra
Depends: contractor (= ${binary:Version}), ${misc:Depends}
Enhances: contractor
Description: service for sharing data between apps (debugging symbols)
 A sharing service that allows source apps to send their data to
 registered destination apps. This way, data source apps don't have to
 have the destination apps hard-coded into them.
 .
 This package contains debugging symbols for contractor.
