Source: contractor
Section: utils
Priority: optional
Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 7.0.50~),
               libgee-dev,
               libglib2.0-dev,
               valac-0.16 | valac (>= 0.16)
Standards-Version: 3.8.4
Homepage: https://launchpad.net/contractor

Package: contractor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Service for sharing data with registered apps
 A sharing service that allows source apps to send their data to
 registered destination apps. This way, data source apps don't have to
 have the destination apps hard coded into them.

Package: contractor-dbg
Architecture: any
Section: debug
Priority: extra
Depends: contractor (= ${binary:Version}), ${misc:Depends}
Enhances: contractor
Description: Service for sharing data with registered apps (debugging symbols)
 A sharing service that allows source apps to send their data to
 registered destination apps. This way, data source apps don't have to
 have the destination apps hard coded into them.
 .
 This package contains debugging symbols for contractor.
