Source: contractor
Section: utils
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libgee-0.8-dev,
               libglib2.0-dev,
               meson,
               valac (>= 0.16)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/contractor

Package: contractor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: service for sharing data between apps
 A sharing service that allows source apps to send their data to
 registered destination apps. This way, data source apps don't have to
 have the destination apps hard-coded into them.
